# fly.toml app configuration file generated for wap-backend
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "wap-backend"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  QDRANT_HOST = "qdrant.internal"
  QDRANT_PORT = "6333"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[http_service.checks]]
  interval = "10s"
  timeout = "2s"
  grace_period = "5s"
  method = "GET"
  path = "/healthz"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024

